
/* fonts setup */
@font-face {
  font-family: 'greater';
  src: url('../../assets/fonts/greatertheory-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'baron';
  src: url('../../assets/fonts/baron_black-webfont.woff2') format('woff2'),
       url('../../assets/fonts/baron_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --heading: 'greater';
  --amber-color: #ffa500;
  --heading-2: 'baron';
  --feat-font: 2rem;
  --fgreen: #041700;

}

* {
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background: var(--fgreen);
}

.mheading{
  text-align: center;
  font-size: 50px;
  width: 750px;
  font-family: var(--heading);
}

.sheading{
  font-family: var(--heading-2), Baron Neue;
  font-size: var(--feat-font);
  color: var(--amber-color);
}

p, li, span{
  font-family: 'Manjari', sans-serif;
  font-size: 18px;
}

.btn{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffa500;
}


.btn a{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Manjari';
  color: #fff;
}

/* Hero section */
.hero-sect{
  background: linear-gradient(180deg, rgba(4, 23, 0, 0.00) 0%, #041700 100%), url("../images/hero.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;

}


.logo{
  /* border: solid lime; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-left: -439px;
}

.logo p{
  font-size: 16px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid red; */
  position: relative;
}
.nav1, .nav2{
  /* border: solid rgb(255, 251, 0); */
  display: flex;
}

.nav1 ul, .nav2 ul{
  display: flex;
}

.nav1{
  position: relative;
  left: -520px;
}

.nav2{
  position: absolute;
  left: 176px;
}
.navbar ul li{
  margin-left: 20px;
}

.navbar ul li a{
  font-family: 'Manjari', sans-serif;
  color:  rgb(255, 145, 0)
}

/* Hero content */

.hero-content{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  /* border: solid rgb(134, 134, 197); */
  /* width: 60%; */
  margin-top: 109px;

}

.hero-content h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  width: 750px;
  font-family: var(--heading);
}

.hero-content button a{
  color: #ffff;
}

.content{
  /* border: solid green; */
  /* height: 650px; */
  background-color: #041700;
}

.vl {
  background-image:url('../assets/images/linee.png');
  height: 205px;
  width: 5px;
  position: absolute;
  left: 50.5%;
  margin-left: -3px;
  background-repeat: no-repeat;
  top: 485px;
  background-size: cover;
  border-radius: 20px;
}

/* featured */
.featured{
  height: 1289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vl2 {
  position:relative;
  width: 5%;
  height: 866px;
  /* margin-left: -66px; */
}

.vl2 img{
  height: 900px;
  position: absolute;
  margin-left: -3px;
  top: -5px;
  left: 22px;
  border-radius: 20px;
  width: 5px;
}

.vl2 .bullet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  position: absolute;
  left: 14px;

}

.vl2 i{
  margin-bottom: 30px;
  color: var(--amber-color);
  font-size: 13px;
  margin-bottom: 109px;
  
}

.vl2 i#dwn{
  margin-top: 20px;
} 

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1{
  margin: 10px;
  font-size: 45px;
  font-family: 'greater', Greater Theory;
  text-align: center;
  width: 70%;
}

.heading h2{
  font-family: var(--heading-2);
  color: var(--amber-color);
}

.feat-cont{
  display:inherit;
  /* flex-direction: column; */
  /* border: solid red; */
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 1360px;
  text-align: center;
  position: relative;
}

img.vect {
  position: absolute;
  top: 607px;
  width: 288px;
  left: -67px;
}

/* left side content */

.left-cont {
  display: flex;
  flex-direction: column;
  /* border: solid green; */
  width: 100%;
  position: relative;
}

.left-cont h3{
  font-family: 'greater', Greater Theory;
  font-size: var(--feat-font);
  margin-left: auto;
  /* align-self: center; */

}

.mainp-box{
  position: absolute;
  left: -40px;
}

.left-cont .main{
  width: 501px;
  height: 501px;
  position: absolute;
  top: -75px;
  left: -79px;
}
  
.left-cont .small{
  width: 230px;
  height: 230px;
  position: absolute;
  top: 194px;
  left: 201px;
 
}

.left-cont .main-s{
  width: 180px;
  height: 180px;
  position: absolute;
  left: 466px;
  top: 142px;
}

.left-cont p{
  width: 397px;
  margin-bottom: 50px;
  text-align: justify;
}

.left-cont .small-s{
  width: 175px;
  height: 175px;
  position: absolute;
  left: 374px;
  top: 610px;
}

.left-cont h3, .right-cont h3{
  margin-top: 52px;
  font-size: 1.5rem;
  margin-right: 20px;
}

.text-p{
  position: absolute;
  left: 322px;
  top: 180px;
}

.left-cont p{
  width: 300px;
  text-align: justify;
}
.left-cont p#m1{
  margin-top: 219px;
  text-align: justify;
  width: 350px;
  margin-left: -20px;
}

.left-cont p#m2{
  text-align: justify;
  width: 356px;
  margin-left: -26px;
  margin-top: 40px;
}
/* right-side content */

.right-cont{
  /* border: solid blue; */
  width: 100%;
  position: relative;
}

.main-box{
  position: absolute;
  left: 114px;
  top: 20px;
  
}

.right-cont h3{
  font-family: var(--heading);
  font-size: var(--feat-font);
  width: max-content;
  margin-left: 184px;
}

.right-cont .main{
  width: 501px;
  height: 501px;
  position: absolute;
  top: 93px;
  left: 178px;
}

.right-cont .small{
  width: 240px;
  height: 240px;
  position: absolute;
  top: 350px;
  left: 178px;
}

.right-cont .man{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 434px;
  left: 30px;
}
    


p#p1{
  width: 320px;
  text-align: justify;
  margin-left: 20px;
  margin-top: 41px;
}

p#p2{
  width: 318px;
  margin: 51px 20px;
  text-align: justify;
}

p#p3{
  margin-top: 331px;
  margin-left: 20px;
  width: 381px;
  text-align: justify;
}

.btn.btn-var{
  position: absolute;
  top: 890px;
  background: none;
  width: 200px;
  border: solid var(--amber-color);
}


.btn.btn-var a{
  color: var(--amber-color);
  padding: 10px;
}

.vect2{
  position: absolute;
  z-index:1;
  width: 580px;
  top: 1026px;
  left: 914px;
}

/* About section */

.about{
  height: 1038px;
  /* background: var(--fgreen); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -40px;
}

.about .heading{
  z-index: 1;
}

.about-box{
  display:flex;
  align-items: center;
}

.about-border{
  border: solid  2px var(--amber-color);
  border-radius: 5px;
  margin-left: -105px;
  margin-top: 20px;
}

.about-im{
  width: 680px;
  height: 668px;
  margin: 30px 30px 30px 0px;
}

.about-border h1{
  transform: rotate(270deg);
  position: absolute;
  top: 551px;
  left: 173px;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}

.desc{
  width: 459px;
  text-align: justify;
  margin-left: 121px;
  margin-top: 80px;
  /* position: absolute; */
  /* top: 80%; */
  /* left: 709px; */
}

.desc p{
  margin-bottom: 58px;
}

.btn.btn-var.btn-var2{
  position: unset;
}


/* Destination */

.destination{
 /* background-color: var(--fgreen); */
 position: relative;
 display: flex;
 flex-direction: column;
 /* border: solid white; */
 height: 1768px;
}

.destination-bg{
  width: 1185px;
  height: 1185px;
  margin: 0 auto;
  position: relative;
  top: 195px;
}
.destination-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  top:-1049px;
  /* border: solid red; */
}

.top{
  margin-top: 40px;
  z-index: 1;
}

.top p{
  width: 760px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.top .heading .mheading {
  width: 723px;
}

.card-mid{
  width: 100%;
  display:flex;
  /* border: solid green; */
  margin: 40px;
  justify-content: space-around;
  position: relative;
}

.card-1{
  display: flex;
  align-items: center;
  /* margin-bottom: 50px; */
  flex-direction: column;
}

.card-2{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.dest-card.card2:hover{
  transform: translate() ;
}

.destination-card h4#second{
  font-family: var(--heading);
  position: absolute;
  top: 44%;
  font-size: 25px;
  
} 

.card-3{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


.destination-card h4#third{
  font-family: var(--heading);
  position: absolute;
  top: 44%;
  font-size: 25px;
} 

.card-4{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.destination-card h4#fourth{
  font-family: var(--heading);
  position: absolute;
  top: 44%;
  font-size: 25px;
} 

.card-5{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.destination-card h4#fifth{
  font-family: var(--heading);
  position: absolute;
  font-size: 25px;
  top: 83%;
 
} 

.destination-card h4#first{
  font-family: var(--heading);
  position: absolute;
  font-size: 25px;
  top: 14%;
  /* position:absolute; */
} 

.dest-card{
  width: 380px;
  height: 380px;
}

/* explore section */

.explore-sect{
  /* background: var(--fgreen); */
  /* height: 1732px; */
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-box{
  position: relative;
  /* margin-top: -176px; */
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  width: 100%;
  justify-content: center;
}

.explore-sect h2{
  text-align: center;
}

.explore-1 {
  display: grid;
}

.explore-1 h1{
  margin: 0 auto;
  position: absolute;
  font-size: 150px;
  margin-right: 195px;
  align-self: center;
  justify-self: center;
}



.explore-2 {
  display: grid;
}
  .explore-2 h1{ 
  margin: 0 auto;
  position: absolute;
  font-size: 150px;
  align-self: center;
  justify-self: center;
}

.explore-3 h1{
  margin-left: -219px;
  position: absolute;
  font-size: 150px;
  align-self: center;
  justify-self: center;
}

.explore-3 {
  display: grid;
}

.explore-4{
  display: grid;
}

.explore-4 h1{
  margin-left: -219px;
  position: absolute;
  font-size: 150px;
  align-self: center;
  justify-self: center;
}

.explore{
  margin-top: 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Places section in exlpore section */

.places{
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.places-cont{
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  left: 15%;
  top: 85px;
}
.places-bg{
  position: relative;
  margin: 0 auto;
  height: 595px;
  width: 100%;
  object-fit: contain;
  object-position:center;
}

.places-img{
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  left: 52px;
  top: 96px;
}

.places-box{
  display: flex;
  margin: 0 auto;
  /* margin-left: 146px; */
  /* border: solid cyan; */
}

.places .mheading {
  width: 53.75rem;
  text-align: center;
  font-size: 45px;
}

.places-img.one{
  margin-left: -50px;
  margin-top: -40px;
}

.places-img.two{
  /* left: -77px; */
  /* top: 131px; */
  margin-top: -6px;
  margin-left: -102px;
}

.places-img.three{
  /* left:-187px; */
  margin-top: -37px;
  margin-left: -103px;
}

.places-img.four{
  /* left: -285px; */
  /* top: 131px; */
  margin-top: -5px ;
  margin-left: -99px;
}

.places-img.five{
  margin-top: -37px;
  margin-left: -100px;
 
}

.places-img.six{
  /* left: -477px; */
  /* top: 131px; */
  margin-left: -102px;
  margin-top: -8px;
}

.places-img.seven{
  /* left: -580px; */
  margin-top: -28px;
  margin-left: -105px;
}

.places-img.eight{
  /* left: -684px; */
  /* top: 131px; */
  margin-top: -9px;
  margin-left: -108px;
}

.places-img.nine{
  /* left: -786px; */
  margin-top: -26px;
  margin-left: -108px;
}



/* Community section */

.community-sect{
  /* background: var(--fgreen); */
  height: 1111px;
  /* border: solid rgb(128, 212, 32); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-desc{
  display: flex;
  position: relative;
  /* border: solid red; */
  width: 100%;
  height: 721px;

}

.community-desc p{
  text-align: justify;
  width: 380px;
  margin-top: 233px;
  margin-left: 57px;
  
}

.community-img{
  display: flex;
  flex-direction: column;
}

.com{
  width: 530px;
  height: 352px;
  z-index: 1;
  position: relative;
  left: 452px;
  top: 142px;
  
  
}

.com1{
  width:320px;
  height: 320px;
  position: relative;
  top: 305px;
  left: 289px;
  z-index:1;
}

.com2{
  width: 208px;
  height: 208px;
  z-index: 1;
  position: relative;
  left: 685px;
  top: -227px;
}

.comb{
  width:689px;
  height: 605px;
  position: absolute;
  left: 707px;
  top: 100px;
}


.service{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20px;
  
}

.list-services{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.set1{
  position: relative;
  left: -383px;
}
.service h3{
  font-family: 'greater';
  font-size: 25px;
  transform: rotate(270deg);
  position: relative;
  top: -234px;
  left: -482px;
  
}

.service h5{
  font-family: 'Manjari';
  font-size: 18px;
  padding: 15px;
}

service ul{
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

span img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/* Memories section */

.memories{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.memories h3{
  font-size: 30px;
  margin: 35px;
}

.mem-img{
  display: flex;
}

.mem-size{
  width: 354px;
  height: 684px;
  object-fit: cover;
  object-position: center;
  margin: 0 10px 30px 10px;
}

.mem-size1{
  width: 229px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  margin: 0 15px 0px 15px;
  align-self: end;
}

.middle{
  display: flex;
  flex-direction: column;
  top: 30px;
  align-items: center;
  position: absolute;
  top: 164px;
  width: 415px;
  /* border: solid red; */
}

.middle h2{
  width: 373px;
  text-align: center;
  margin-bottom: 38px;
}
.middle span{
  width: 220px;
  border: solid 2px var(--amber-color);
  height: 55px;
  display: grid;
  align-content: center;
  margin: 0 auto;
}

.btn.var1{
  width: 205px;
  margin: 0 auto;
  border-radius: unset;
  color: #fff;
}

.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid blue; */
  height: 903px;
  flex-direction: column;justify-content: center;align-items: center;
}

.newsletter h3{
  font-size: 30px;
}

.newsletter h2{
  font-size: 30px;
}

.news-box{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.left-news{
  border: 5px solid;
  border-image: linear-gradient(88deg, var(--amber-color), var(--fgreen)) 1;
  margin-top: 134px;
  position: relative;
  z-index: 1;
}

.left-news form{
  background: #031000; 
  width: 512px;
  height: 558px;
  position: relative;
  left: -75px;
  top: -83px;
  left: -75px;
  padding: 20px;
}

.left-news form h2{
  width: 359px;
  text-align:left;
  margin: 0px 50px 50px;
}

.form-box {
  /* border: solid white; */
  width: 379px;
  margin: 0 auto;
}

.form-box label{
  font-family: 'Manjari', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

input#name, input#email {
  border: none;
  border-bottom: solid 3px var(--amber-color);
  height: 50px;
  background: none;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=text], input[type=email]{
  border: none;
  outline: none;
  border-bottom: solid 3px #dbb32f;
}

.label1, .label2{
  display: flex;
  flex-direction: column;
  height: 75px;
  /* border: solid green; */
  justify-content: space-between;
}

.label1{
  /* border: solid green; */
  margin-bottom: 72px;
}

.submit{
  display: grid;
  width: 345px;
  height: 79px;
  border: solid 2px var(--amber-color);
  align-items: center;
  justify-content: center;
  position: relative;
  top: 70px;
  left: 305px;
}

.submit:hover{
  border: none;
}


input.btn{
  margin: 0 auto;
  width: 320px;
  height: 65px;
  font-family: 'Manjari';
  font-size: 20px;
  font-weight: bold;
  border-radius: none;
}

input.btn:hover{
  width: 320px;
  height: 65px;
}

.right-news{
  /* border: solid blue; */
  position: relative;
  left: -58px;
  z-index: 1;
}
.right-news .pointer{
  position: absolute;
  top: 163px;
  left: 183px;
  width: 54px;
  
}

.newsletter .vect.bg-edit{
  position: absolute;
  top: 8409px;
  left: 1027px;
}


.right-news h3{
  width: 530px;
  text-align: left;
  margin-bottom: 30px;
}


/* Footer */

.footer{
  width: 100%;
  height: 500px;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-1{
  display: flex;
  width: 80%;
  margin-top: 166px;
  justify-content: space-between;
  /* border: solid green; */
}
.take-left{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
}

.take-left img.foot-logo{
  width: 82px;
  height: 92px;
}
 
.take-left span{
  color: #8BC34A;
  padding: 10px;
}
.footer h4{
  font-size: 18px;
  text-align: left;
  width: unset;
  padding-bottom: 8px ;
}
.contact{
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
}

.take-middle{
  display: flex;
  flex-direction: column;
}

.take-middle ul li a{
  color: #fff;

}

.take-middle ul li, .cont{
  padding: 2px;
}

.foot-line{
  background: rgb(4,23,0);
  background: linear-gradient(90deg, rgba(4,23,0,0.8547794117647058) 0%, rgba(255,165,0,1) 50%, rgba(4,23,0,0.835171568627451) 100%);
  width: 100%;
  height: 5px;
  position: relative;
  bottom: -10px;
}

.foot-end{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social i{
  margin-right: 10px;
  font-size: 25px;
}

.social i#facebook, #twitter{
  color: #3b5998;
}

.social i#youtube, #pinterest{
  color: rgb(219, 42, 42);
}

.social i#instagram{
  background-color: linear-gradient(#f9ce34,#ee2a7b, #6228d7)
}


/* touches */

img.mem-size, .mem-size1, .com, .com1, .com2, .dest-card, .about-im, .man, .main, .small, .small-s, .explore{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}