
/* fonts setup */
@font-face {
  font-family: 'greater';
  src: url('/assets/fonts/greatertheory-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'baron';
  src: url('/assets/fonts/baron_black-webfont.woff2') format('woff2'),
       url('/assets/fonts/baron_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --heading: 'greater';
  --amber-color: #ffa500;
  --heading-2: 'baron';
  --feat-font: 2rem;
  --fgreen: #041700;

}

* {
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.mheading{
  text-align: center;
  font-size: 50px;
  width: 750px;
  font-family: var(--heading);
}

.sheading{
  font-family: var(--heading-2);
  font-size: var(--feat-font);
  color: var(--amber-color);
}

p {
  font-family: 'Manjari', sans-serif;
  font-size: 18px;
}

.btn{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffa500;
}

.btn a{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Manjari';
}

/* Hero section */
.hero-sect{
  background: linear-gradient(180deg, rgba(4, 23, 0, 0.00) 0%, #041700 100%), url("../images/hero.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;

}


.logo{
  /* border: solid lime; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.logo p{
  font-size: 16px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid red; */
  position: relative;
}
.nav1, .nav2{
  /* border: solid rgb(255, 251, 0); */
  display: flex;
}

.nav1 ul, .nav2 ul{
  display: flex;
}

.nav1{
  position: absolute;
  left: -520px;
}

.nav2{
  position: absolute;
  left: 244px;
}
.navbar ul li{
  margin-left: 20px;
}

.navbar ul li a{
  font-family: 'Manjari', sans-serif;
  color:  rgb(255, 145, 0)
}

/* Hero content */

.hero-content{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  /* border: solid rgb(134, 134, 197); */
  /* width: 60%; */
  margin-top: 109px;

}

.hero-content h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  width: 750px;
  font-family: var(--heading);
}

.hero-content button a{
  color: #ffff;
}

.content{
  /* border: solid green; */
  /* height: 650px; */
  background-color: #041700;
}

.vl {
  background-image:url('/assets/images/linee.png');
  height: 205px;
  width: 5px;
  position: absolute;
  left: 50.5%;
  margin-left: -3px;
  background-repeat: no-repeat;
  top: 485px;
  background-size: cover;
  border-radius: 20px;
}

/* featured */
.featured{
  height: 1295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vl2 {
  position:relative;
  width: 5%;
  /* margin-left: -66px; */
}

.vl2 img{
  height: 900px;
  position: absolute;
  margin-left: -3px;
  top: -5px;
  left: 22px;
  border-radius: 20px;
  width: 5px;
}

.vl2 .bullet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  position: absolute;
  left: 14px;

}

.vl2 i{
  margin-bottom: 30px;
  color: var(--amber-color);
  font-size: 13px;
  margin-bottom: 109px;
  
}

.vl2 i#dwn{
  margin-top: 20px;
} 

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1{
  margin: 10px;
  font-size: 45px;
  font-family: 'greater';
  text-align: center;
  width: 70%;
}

.heading h2{
  font-family: var(--heading-2);
  color: var(--amber-color);
}

.feat-cont{
  display:inherit;
  /* flex-direction: column; */
  /* border: solid red; */
  /* align-items: center; */
  justify-content: space-around;
  width: 100%;
  height: 1360px;
  text-align: center;
  position: relative;
}

img.vect {
  position: absolute;
  top: 607px;
  width: 288px;
  left: -67px;
}

/* left side content */

.left-cont {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: flex-start; */
  /* border: solid green; */
  width: 100%;
  position: relative;
  /* left: -97px; */
}

.left-cont h3{
  font-family: 'greater';
  font-size: var(--feat-font);
  margin-left: auto;
  /* align-self: center; */

}

.mainp-box{
  position: absolute;
  left: -40px;
}

.left-cont .main{
  width: 501px;
  height: 501px;
  position: absolute;
  top: -75px;
  left: -79px;
}
  
.left-cont .small{
  width: 230px;
  height: 230px;
  position: absolute;
  top: 194px;
  left: 201px;
 
}

.left-cont .main-s{
  width: 180px;
  height: 180px;
  position: absolute;
  left: 466px;
  top: 142px;
}

.left-cont p{
  width: 397px;
  margin-bottom: 50px;
  text-align: justify;
}

.left-cont .small-s{
  width: 175px;
  height: 175px;
  position: absolute;
  left: 374px;
  top: 610px;
}

.left-cont h3, .right-cont h3{
  margin-top: 52px;
  font-size: 1.5rem;
  margin-right: 20px;
}

.text-p{
  position: absolute;
  left: 322px;
  top: 180px;
}

.left-cont p{
  width: 300px;
  text-align: justify;
}
.left-cont p#m1{
  margin-top: 219px;
  text-align: justify;
  width: 350px;
  margin-left: -20px;
}

.left-cont p#m2{
  text-align: justify;
  width: 356px;
  margin-left: -26px;
  margin-top: 40px;
}
/* right-side content */

.right-cont{
  /* border: solid blue; */
  width: 100%;
  position: relative;
  /* right: 20px; */
  /* left: -97px; */
}

.main-box{
  position: absolute;
  left: 114px;
  top: 20px;
  
}

.right-cont h3{
  font-family: var(--heading);
  font-size: var(--feat-font);
  width: max-content;
  margin-left: 184px;
}

.right-cont .main{
  width: 501px;
  height: 501px;
  position: absolute;
  top: 93px;
  left: 178px;
}

.right-cont .small{
  width: 240px;
  height: 240px;
  position: absolute;
  top: 350px;
  left: 178px;
}

.right-cont .man{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 434px;
  left: 30px;
}
    


p#p1{
  width: 320px;
  text-align: justify;
  margin-left: 20px;
  margin-top: 41px;
}

p#p2{
  width: 318px;
  margin: 51px 20px;
  text-align: justify;
}

p#p3{
  margin-top: 331px;
  margin-left: 20px;
  width: 381px;
  text-align: justify;
}

.btn.btn-var{
  position: absolute;
  top: 80%;
  background: none;
  width: 200px;
  border: solid var(--amber-color);
}

.btn.btn-var a{
  color: var(--amber-color);
  padding: 10px;
}

.vect2{
  position: absolute;
  z-index:1;
  width: 580px;
  top: 1090px;
  left: 914px;
}

/* About section */

.about{
  height: 1038px;
  background: var(--fgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -40px;
}

.about .heading{
  z-index: 1;
}

.about-box{
  display:flex;
  align-items: center;
}

.about-border{
  border: solid  2px var(--amber-color);
  border-radius: 5px;
  margin-left: -105px;
  margin-top: 20px;
  /* position: absolute; */
  /* top: 592px; */
  /* left: -85px; */

}

.about-im{
  width: 680px;
  height: 668px;
  margin: 30px 30px 30px 0px;
}

.about-border h1{
  transform: rotate(270deg);
  position: absolute;
  top: 551px;
  left: 173px;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
}

.desc{
  width: 459px;
  text-align: justify;
  margin-left: 121px;
  margin-top: 80px;
  /* position: absolute; */
  /* top: 80%; */
  /* left: 709px; */
}

.desc p{
  margin-bottom: 58px;
}

.btn.btn-var.btn-var2{
  position: unset;
}


/* Destination */

.destination{
 background-color: var(--fgreen);
 position: relative;
 display: flex;
 flex-direction: column;
}

.destination-bg{
  position: absolute;
  width: 1185px;
  height: 1185px;
  margin-left: 65px;
  top: 533px;
}
.destination-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 1559px;
}

.top{
  margin-top: 40px;
  z-index: 1;
}

.top p{
  width: 760px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.top .heading .mheading {
  width: 723px;
}

.card-1{
  display: flex;
  align-items: center;
}

.dest-card.card1{
  position:absolute;
  top: 432px;
  left: 465px;
}

.card-2{
  display: flex;
  align-items: center;
}

.dest-card.card2{
  position:absolute;
  top: 928px;
  left: 20px;
}

.destination-card h4#second{
  font-family: var(--heading);
  font-size: 18px;
  margin-top: -1533px;
  margin-left: -497px;
  z-index: 1;
}

.card-3{
  display: flex;
  align-items: center;
}

.dest-card.card3{
  position:absolute;
  top: 926px;
  left: 927px;
}

.destination-card h4#third{
  font-family: var(--heading);
  font-size: 18px;
  margin-top: -1533px;
  margin-left: 870px;
  z-index: 1;
}

.card-4{
  display: flex;
  align-items: center;
}

.dest-card.card4{
  position:absolute;
  top: 1424px;
  left: 471px;
}

.destination-card h4#fourth{
  font-family: var(--heading);
  font-size: 18px;
  
  margin-top: -535px;
  margin-left: -43px;
  z-index: 1;
}

.card-5{
  display: flex;
  align-items: center;
}

.dest-card.card5{
  position:absolute;
  top: 926px;
  left:  471px;
}

.destination-card h4#fifth{
  font-family: var(--heading);
  font-size: 18px;
  margin-top: -1533px;
  margin-left: -43px;
  z-index: 1;
}

.destination-card h4#first{
  font-family: var(--heading);
  font-size: 18px;
  margin-top: -2517px;
  margin-left: -53px;
  z-index: 1;
}

.dest-card{
  width: 380px;
  height: 380px;
}

/* explore section */

.explore-sect{
  background: var(--fgreen);
  height: 900px;
}

.explore-sect h2{
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-1 h1{
  margin-top: 20px;
  margin: 0 auto;
  position: absolute;
  top: 1296vh;
  font-size: 150px;
  left: 217px;
}

  .explore-2 h1{ 
  margin: 0 auto;
  position: absolute;
  top: 1371vh;
  font-size: 150px;
  left: 301px;
}

.explore-3 h1{
  margin: 0 auto;
  position: absolute;
  top: 1444vh;
  font-size: 150px;
  left: 174px;
}

.explore-4 h1{
  margin: 0 auto;
  position: absolute;
  top: 1520vh;
  font-size: 150px;
  left: 215px;
} 

.explore{
  margin-top: 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.places-img{
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  left: 52px;
  top: 96px;
}

.places{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/images/places-bg.png');
  height: 80.875rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.places-box{
  display: flex;
  margin: 0 auto;
  margin-left: 146px;
}

.places-img.two{
  left: -77px;
  top: 131px;
}

.places-img.three{
  left:-187px;
}

.places-img.four{
  left: -285px;
  top: 131px;
}

.places-img.five{
  left: -380px;
}

.places-img.six{
  left: -477px;
  top: 131px;
}

.places-img.seven{
  left: -580px;
}

.places-img.eight{
  left: -684px;
  top: 131px;
}

.places-img.nine{
  left: -786px;
}


.places .mheading {
  margin-top: 100px;
  width: 83.75rem;
  text-align: center;
  font-size: 45px;
}